:root {
  --anchor-color-red: red;
}
.body {
  background-color: #81DEFF;
  background: linear-gradient(to right, #81DEFF, #82ffe1);
  font-family: 'Open Sans', sans-serif;
}

/* NAVIGATION STYLING */
#main-heading {
  text-align: center;
  color: black;
}

main h5 {
  text-decoration: underline;
  font-weight: bold;
}
main div.scrollbar {
  height: 100vh;
  overflow-y: scroll;
}
nav a {
  color: var(--anchor-color-red);
  text-decoration: none;
  display: block;
}
nav a:hover {
  text-decoration: none;
  background-color: #ddd;
  color: black;
}
nav a:active {
  text-decoration: none;
  background-color: #ddd;
  color: black;
  font-weight: bold;
}
main a {
  color: var(--anchor-color-red);
}
main a:hover {
  color: var(--anchor-color-red);
}
main a:active {
  text-decoration: none;
  font-weight: bold;
  color: var(--anchor-color-red);
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
p span.highlight {
  //color: highlight;
  color: red;
}
hr {
  height: 1px;
  background-color: white;
}
