.body {
  background-color: #81DEFF;
  background: linear-gradient(to right, #81DEFF, #82e1ff);
  font-family: 'Open Sans', sans-serif;
}
#main-heading {
  text-align: center;
  color: black;
}
main h5 {
  text-decoration: underline;
}
main div.scrollbar {
  height: 100vh;
  overflow-y: scroll;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
